.hl {
    background-color: rgba(139, 139, 139, 0.384);
    border: solid 2px black;
}

.item-img {
    border-radius: 2em;
    padding: 1rem !important;
    width: 100%;
    background: linear-gradient(145deg, #1b1641, #292254) !important;
}


.border-rounded {
    border-radius: 2rem !important;
}

.bg-purple {
    background: linear-gradient(145deg, #1b1641, #292254) !important;
}


.btn.btn-large {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 4rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg);
}

.btn.btn-outline-secondary {
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #3f3f6e !important;
    --bs-btn-hover-border-color: #3f3f6e !important;
}