.upload-box {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1 / 1; /* square upload box */
  background: #1e1a52;
  border: 2px dashed #4c49a2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.form-control {
  color: black !important;
}

.upload-box input {
  position: absolute;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.upload-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: #000000 solid 2px;
}

.upload-content {
  text-align: center;
  color: #777;
}

.image-container {
  margin: 0px 20px;
}

@media (max-width: 992px) {
  .upload-box {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 1 / 1;
    margin-bottom: 15px;
  }
}

.mint-success {
  border: #615eb9 2px dashed;
  padding: 5px;
  letter-spacing: 0.04em ;
}

/* ----POPUP BOX---- */


.modal.custom {
  background: rgba(0, 0, 0, 0.5);
}

.modal-body {
  padding: 30px !important;
}

.modal-dialog {
  transform: translateY(150px) !important;
}


.modal-content {
  background-color: #1e153f !important;
  color: #ffffff;
  border-radius: 12px;
  border: none;
}

.close-btn {
  color: #ffffff;
  opacity: 0.8;
  margin-right: 0;
}

.close-btn:hover {
  opacity: 1;
  font-weight: bold;
}


input[type="radio"] {
  accent-color: #560595;
}

.btn-create {
  --bs-btn-padding-y: .65em !important;
  background-color: #8686D8 !important;
  border: 1px solid #8686D8 !important;
  letter-spacing: 0.03em ;
}

.btn-create:hover {
  background-color: #5b5baf !important;
}