
:root {
    --search-bar-color: #6962b9;
}


#logo-img {
    margin-right: 2em;
}

#searchbar {
    background-color: var(--search-bar-color);
    border-color: var(--search-bar-color);
    border-radius: 1rem;    
    padding: 0.75rem 1.85rem;
    padding-left: 2.6rem;
    color: rgb(228, 227, 227);
    font-size: 1.1rem;
}
#searchbar::placeholder {
    color: rgb(211, 211, 211);
}

#searchbar:focus::placeholder {
    color: transparent; 
}
#searchbar:focus{
    outline: none;
}
#searchbar:hover{
    background-color: #7771bb;
    transition: 0.3s;
}

.search-container{
    position: relative;
}
.search-icon {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    pointer-events: none; 
}

.navbar-container {
    border-radius: 1em 1em 1em 1em;
    -webkit-border-radius: 1em 1em 1em 1em;
    -moz-border-radius: 1em 1em 1em 1em;
    background: #1e1a52;
    border: 0.8em solid #1e1a52;
} 

#wallet {
    background: #1e1a52;
    border: 0.1em solid #1e1a52;
    color: rgb(229, 229, 229);
    padding-right: 0;
}

#wallet img {
    margin-right: 0.8em;
    margin-bottom:0.2em;
}

.nav-link {
    color: rgb(214, 214, 214) !important;
    margin: 0 .8rem !important;
    font-size: large !important;
}


#user-icon {
    margin-right: 0 !important;
    margin-left: 1rem !important;
}

