*:not(.offcanvas-body *):not(.offcanvas *){
    color: white;
}

/* ----------------FONTS---------------- */
.roboto {
    font-family: 'Roboto Slab', serif !important;
}

.roboto-reg {
    font-family: 'Roboto Slab', serif !important;
    font-weight: 300 !important;
}

.outfit {
    font-family: 'Outfit', serif !important;
}

.outfit-reg {
    font-family: 'Outfit', serif !important;
    font-weight: 300;
}
    
.outfit-bold {
    font-family: 'Outfit', serif !important;
    font-weight: bold;
    
}  

.subheading-text {
    font-size: 1.3em !important;
    letter-spacing: 0.17em;
    font-weight: 600 !important;
}


.bodytext {
    color:rgb(226, 226, 226);
    margin-bottom: 1.6em;
    letter-spacing: 0.025em;
}

.hl-bold-text {
    letter-spacing: 0.1em;
    font-weight: 500 !important;
    margin: 0;
}




/* ------------------TEXT COLOR------------------ */

.teal {
    color: #AAD9D9;
    margin-bottom: 0;
}

.gray {
    color: rgb(157, 157, 157) !important;
}

.light-gray {
    color: rgb(189, 189, 189) !important;
}

.white {
    color:white !important; 
}

.blue {
    color:rgb(0, 102, 255) !important;
}

.black {
    color: black !important;
}


body {
    
    background: linear-gradient(to left top,  #080749,#03023a); 
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
    position: relative;   
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 00px;
    right: 0;
    bottom: 0;
    background: url('../src/assets/images/bg/BGCircles.png') no-repeat center center;
    z-index: -1; /* underlayer for blur circle*/
    opacity: 0.4;
}


h1 {
    font-size: clamp(2em, 5vw, 4.6em) !important;
}


/*==========BUTTON==========*/


.btn-purple  {
    --bs-btn-border-radius: 10rem !important;
    --bs-btn-padding-x: 2.5em !important;
    --bs-btn-padding-y: .65em !important;
    --bs-btn-font-size: 1.35rem !important;
    background-color: #8686D8 !important;
    border: 1px solid #8686D8 !important;
    color: white !important;
    --bs-btn-hover-color: #fff !important;
    --bs-btn-hover-bg: #60609f !important;
    --bs-btn-hover-border-color: #60609f !important;
    --bs-btn-active-bg: #37375c !important;
    --bs-btn-active-border-color: #37375c !important;
    letter-spacing: 0.03em !important;
}

